
ul {
  list-style-type: none;
}

.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: rgb(38, 41, 37)!important;
}

#sendMessage{
	margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    
}

#messageText{
	height: 60px;
	color: #333;
}


.w3-col.l6 {
    width: 70%;
}

.attachment {
	height: 40px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

#file1 #sendMessage{
	display:inline-block;
}



#messageList{
	height:600px;
	overflow-y:scroll;
	padding-right: 10px;
	background-color:white;
}



/* margin 4th value 110 works. Margi to the left we have to set properly*/
#userChat{
	border: 1px solid #ebebeb;
    margin: 8px 15px 8px 0px;
    font-size: 14px;
    padding: 8px 15px 8px 25px;
    position: relative;
    background-color: rgba(0, 0, 255, 0.57);
    border-radius: 10;
    border-radius: 25px;
    text-align: left;
    float: right;
    display: inline-block;
}

.userUploadedImage{
	border: none;
    margin: 8px 15px 8px 0px;
    padding: 8px 15px 8px 25px;
    position: relative;    
    border-radius: 25px;
    float: right;
   }

#userChat img{
    height: 23px;
    width: 23px;
    position: absolute;   
    bottom: -1px;
    right: -18px;
}


/* Margin to the right we have to set properly*/
#responseChat {
	border: 1px solid #ebebeb;
    margin: 8px 35px 8px 30px;
    font-size: 14px;
    padding: 8px 8px 8px 25px;
    position: relative;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10;
    border-radius: 25px;
    display: inline-block;
    float: left;
    text-align: left;
}

#responseChat img{
    height: 23px;
    width: 23px;
    position: absolute;
    top: -1px;
    left: -19px;
}

.drag-panel p{
    float:right;
    font-size: 20px;
    margin-right: 180px;
    margin-top: 90px;
}

.drag-panel p a{
    color: #4f4f4f;
    font-weight: 500;
}

.drag-panel p.file-name{
    font-weight: 500;
    font-size: 15px;
    background: #fff;
    padding: 10px;
    width: 440px;
    position: absolute;
    height: 170px;
    right: 110px;
    top: 90px;
    margin: 0;
    border: 1px solid #ddd;
}

.drag-panel p.file-name label{
    margin: 52px 0;
    font-size: 15px;
    font-weight: 400;
    color: #3071a9;
}

.drag-panel .close{
    font-size: 30px;
    margin-top: 4px;
    margin-right: 20px; 
}

#upload_link{
    text-decoration:none;
}
