<!DOCTYPE html>
<html lang="en">

<head>
    <title>HelpChat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link href="./static/stylesheets/bootstrap.min.css" rel="stylesheet" />   
	<link rel="stylesheet" href="./static/stylesheets/style.css">
	<link rel="stylesheet" href="./static/stylesheets/w3.css">
	<link rel="stylesheet" href="./static/stylesheets/w3-colors-food.css">
    <link rel="stylesheet" href="./static/stylesheets/style_for_conv.css">
	
    <style>
    html, body{
      font-size:13px;
    }
    a{
      color: #0000FF;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: #00009C;
      text-decoration: underline;
    }
    </style>   
	
	<script src="./static/js/jquery.min.js"></script>
	<script src="./static/js/socket.io.min.js"></script>
	
</head>


<body>
<div id="wrapper">
    <div class="container">
        <div class="row">
			<div class="col-md-10 col-md-offset-1">
                <div class="w3-row-padding w3-padding-small">
                    <div class="w3-container w3-quarter"  style="height:50px;width:170px;">
                        <img src="static/images/livechat.png" alt="AI ChatBot" style="height:50px;width:170px;">
                    </div>    
                </div>

                <div class="w3-row-padding">
                <div class="w3-container w3-col w3-card-4 m6 l6">
                    <header class="w3-cell-row w3-blue">
                    <div class="w3-container w3-cell w3-cell-middle"><h5> Welcome to AI Chat-Bot </h5></div>
                    <div class="w3-container w3-cell w3-cell-middle w3-right-align"><img class="w3-btn w3-blue w3-margin-0 w3-hover-purple" src="static/images/refresh.png" alt="Refresh" id="btnRefresh" style="height:45px;width:60px;"></div>
                    </header>

                    <div id="messageList" style="height:350px;overflow-y:scroll;">
                    <ul id="list"></ul>
                    </div>

                    <footer class="w3-cell-row w3-padding w3-blue">
                        <textarea maxlength="120" class="w3-cell w3-container w3-threequarter" type="text" id="messageText" autofocus/></textarea>
                        <div class="w3-cell w3-btn w3-padding-16 w3-green w3-large w3-hover-purple w3-quarter" id="sendMessage">Send</div>
                    </footer>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script type="text/javascript">
    $(function(){ 

        var channel = "/chat";
        var initialised = false;
 
        //connect though websocket method on priority
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + channel, {transports:['websocket','polling']});

        console.log('connect to: ' + location.protocol + '//' + document.domain + ':' + location.port + channel);
       
       
        socket.on("error", function(data) {
            console.log("connetion error:" + data);
            if (socket.connected){
                console.log("Socket connetion ok");
            }
            else {
                console.log("Socket connetion failed");
            }
        });


        //connect will be triggered only once
        socket.on("connect", function(data) {
            console.log("connect event triggered:" + data);
            if (socket.connected){
                console.log("Socket connetion ok");
            }
            else {
                console.log("Socket connetion failed");
            }
            if (socket.connected && !initialised) {
                initialised = true;
                console.log("sending empty message ''");
                socket.send('');
            }
        });
 

        socket.on("message", function (message) {
            var dNow = new Date();
            time = dNow.getHours() + ':' + dNow.getMinutes() + ':' + dNow.getSeconds();
            $("#messageList").append( '<ul><font color="gray"> ' + time + ' </font><img src="static/images/server_image.jpg" style="height:22px;width:23px;"> ' +message['response']+ '</ul>');
            $("#messageList").scrollTop($("#messageList")[0].scrollHeight);
            $("#messageList").removeClass("w3-light-gray");
            $("#messageText").prop('disabled', false);
            $("#messageText").focus();
            console.log("message event triggered for: " + message['response']);
        });
 

        $("#sendMessage").on("click", function() {
            sendMessage();
        });
 
 
        $("#messageText").keyup(function(e){
            if(e.keyCode == 13)
            {
                sendMessage();
            }
        });
 
        function sendMessage() {
            if ( $.trim($("#messageText").val()) ) 
            {
                var dNow = new Date();
                time = dNow.getHours() + ':' + dNow.getMinutes() + ':' + dNow.getSeconds();
                $("#messageList").append( '<ul><font color="gray"> ' + time + ' </font><img src="static/images/client-icon.png" style="height:22px;width:23px;"> <font color="red">You: </font>' +$("#messageText").val()+ '</ul>');
                $("#messageList").scrollTop($("#messageList")[0].scrollHeight);

                socket.send( $.trim($("#messageText").val()) );
                $("#messageText").val('');
                $("#messageText").prop('disabled', true);
                console.log("sendMessage button was clicked");
            }
            else
                $("#messageText").focus();
 
        }

        $("#btnRefresh").on("click", function() {
            $("#messageText").prop('disabled', true);
            $("#messageList").html('<ul id="list"></ul>');
            $("#messageList").addClass("w3-light-gray");
            console.log("sending empty message ''");
            socket.send('');
        });

    });

    </script>
    <script src="./static/js/bootstrap.min.js"></script>

</body>

</html>
